@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  
}
.primaryColor1 {
  color: #2d60ff;
}
.primaryColor2 {
  color: #343c6a;
}

.cardBgColor {
  background: #4c49ed;
  background: linear-gradient(
    90deg,
    rgba(76, 73, 237, 1) 0%,
    rgba(10, 6, 244, 1) 100%
  );
}
.cardBottomBgColor {
  background: #fafafa;
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 0.25) 0%,
    rgba(10, 6, 244, 1) 100%
  );
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}


/* for Webkit (Chrome, Edge, Safari) */
.custom-scroll::-webkit-scrollbar {
  height: 8px;
  
}
.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #2d60ff; /* Tailwind's blue-500 */
  border-radius: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #2d60ff; /* Tailwind's blue-600 */
}
